<!DOCTYPE html>
<html lang="en-us">
  <head>
		<meta charset="UTF-8">
		<title>Kaveman's Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/src/styles/framework.css" type="text/css" rel="stylesheet" />
    <link href="/src/styles/common.css" type="text/css" rel="stylesheet" />
    <link href="/src/styles/main.css" type="text/css" rel="stylesheet" />
    <model src="kavemans.dev/FontAwesome"></model>
  </head>
  <body>
    <model src="kavemans.dev/header.html"></model>
    <div class="contentWrapper">
      <main id="simpleParallaxEffect" class="centerize darken">
        <div class="announcementsContainer">
          <model src="kavemans.dev/announcements"></model>
        </div>
        <div class="intro landing strongTextShadow" style="--background-image: url('/src/sprites/ChannelIcon.jpg'); --border-radius: 50%;">
          <span>Hi, my name is Kaveman and I'm a...</span>
          <span id="mainRoleThing">Software Developer</span>
          <span class="linksBox centerize">
            <a href="https://github.com/Kaveinator" target="_blank" style='--icon: "\f09b";'>github.com/Kaveinator</a>
            <a href="Kaveman.Resume.pdf" target="_blank" style='--icon: "\f15b";'>Kaveman.Resume.pdf</a>
          </span>
        </div>
        <span class="credits">Background: A map I worked on called "Madness" for the <a href="/orgs/TankiX/MadnessUpdate">TankiX</a> orginization</span>
      </main>
      <div id="knownLanguagesAndTech" class="container centerize">
        <h2>Skills</h2>
        <div class="container centerize dynamicMargin">
            <div class="item centerize" data-label="HTML">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
              <img src="/src/sprites/langs/html.png" />
            </div>
            <div class="item centerize" data-label="CSS">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/css.png" />
            </div>
            <div class="item centerize" data-label="Javascript">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/javascript.png" />
            </div>
            <div class="item centerize" data-label="node.js">
                <div class="popupAnchor centerize">
                  <div>
                    <div class="popup">
                      This is language that can be used to create servers or applications
                    </div>
                  </div>
                </div>
                <img src="/src/sprites/langs/nodejs.png" />
            </div>
            <div class="item centerize" data-label="Electron">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/electron.png" />
            </div>
            <div class="item centerize" data-label="C#">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/csharp.png" />
            </div>
            <div class="item centerize" data-label="Unity3D">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/unity.png" />
            </div>
            <div class="item centerize" data-label="MySQL">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/mysql.png" />
            </div>
            <div class="item centerize" data-label="Git">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/github.png" />
            </div>
            <div class="item centerize" data-label="Azure">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/azure.png" />
            </div>
            <div class="item centerize" data-label="ASP.NET">
              <div class="popupAnchor centerize">
                <div>
                  <div class="popup">
                    This is language that can be used to create servers or applications
                  </div>
                </div>
              </div>
                <img src="/src/sprites/langs/aspdotnet.png" />
            </div>
        </div>
      </div>
      <div id="projects" class="container centerize">
        <h2>Recent Projects</h2>
        {?:FeaturedProjects}
      </div>
    </div>
    <model src="kavemans.dev/footer.html"></model>
    <script src="/src/scripts/KeyFirePlugin.js"></script>
    <script defer>
      var fixedDeltaTime = 1000 / 60;
      var simpleParallaxEffect = setInterval(() => {
        Object3DTransform("simpleParallaxEffect", 0, 0, -100, "calc(100% - {0}");
      }, fixedDeltaTime);
    </script>
    </body>
</html>