<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<title>DevLog - kavemans.dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/src/styles/framework.css" type="text/css" rel="stylesheet" />
    <link href="/src/styles/common.css" type="text/css" rel="stylesheet" />
    <link href="/src/styles/main.css" type="text/css" rel="stylesheet" />
    <link href="/src/styles/devlog.css" type="text/css" rel="stylesheet" />
    <model src="kavemans.dev/FontAwesome"></model>
  </head>
  <body>
    <model src="kavemans.dev/header.html"></model>
    <div class="header"></div>
    <div class="contentWrapper">
      <main class="container centerize">
        <model src="kavemans.dev/announcements"></model>
        <h2>Development Log<span>Recent things I've worked on</span></h2>
        <div class="feed dynamicMargin">{?:Posts}</div>
      </main>
    </div>
    <model src="kavemans.dev/footer.html"></model>
  </body>
</html>