@charset "UTF-8";

main {
  min-height: 25vh;
}

#projects .row img {
  filter: drop-shadow(0 0 5px #000);
}

.dynamicMargin p:nth-of-type(1) {
  margin-top: 0;
}

.mediaContent {
  flex-direction: row;
  flex-wrap: wrap;
}

.mediaContent:empty::after {
  content: "No media";
  opacity: 0.5;
}

.mediaContent > .mediaTile {
  width: 250px;
  max-width: 46.25%;
  background-color: #000;
  position: relative;
  margin: 15px 2.5%;
  margin-right: 2.5%;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 1.25%;
  z-index: 2;
}

.mediaContent > .mediaTile > img:nth-child(1) {
  width: 100%;
  height: auto;
  opacity: 0;
}

.mediaContent > .mediaTile::after {
  content: '';
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: inset 0 0 0 2px rgba(77, 90, 132, 1), inset 0 0 10px 2px rgba(0, 0, 0, 1);
  pointer-events: none;
  border-radius: 10px;
}

.mediaContent > .mediaTile::after,
.mediaContent > .mediaTile > *:not(:nth-child(1)) {
  transition: 200ms ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000;
  color: #fff;
  object-fit: cover;
  color: rgb(232, 230, 227);
}

.mediaContent > .mediaTile > *:not(:nth-child(1)) {
  transition: 200ms ease-in-out;
}

.mediaContent > .mediaTile       > img:not(:nth-child(1)) { transform: scale(1.2); }
.mediaContent > .mediaTile:hover > img:not(:nth-child(1)) { transform: scale(1); }

.mediaContent > .mediaTile > p:nth-of-type(1) {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: 0;
  height: auto;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 4px 6px;
  text-align: center;
  transform: translateY(100%);
}
.mediaContent > .mediaTile:hover > p:nth-of-type(1) {
  transform: translateY(0%);
}

.lightbox {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.issueEntry {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgb(13, 14, 14) 0px 0px 4px;
}

.issueEntry > h3 {
  background-color: #046da3;
  padding: 12px 15px;
  margin: 0;
  font-size: 16px;
}

.issueEntry > h3::before {
  font-family: var(--font-awesome-version);
  font-weight: 600;
  content: "\f386";
  margin-right: 8px;
  display: inline-block;
}

.issueEntry > .content {
  background-color: rgb(34, 37, 38);
  margin: 0;
  font-size: 14px;
  padding: 12px 15px;
}

@media (max-width: 765px), (orientation: portrait) {
  main .linksBox {
    text-align: center !important;
  }
}