@charset "UTF-8";

body {
    --bs-body-bg: #131a26;
    --bs-body-color: #cacaca;
    min-height: 100vh;
    box-sizing: border-box;
    /*var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)))*/
}

table, th, td {
    color: var(--bs-body-color) !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}
*/