@charset "UTF-8";

div[class^="circle"] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px #000;
}

.contactBackgroundArt div.circle1 {
  background-image: linear-gradient(#e91e63 0 1%, #ffc107 42% 100%);
  clip-path: circle(11% at 30% 10%);
}

.contactBackgroundArt div.circle2 {
  background-image: linear-gradient(#e91e63 0 42%, #ffc107 95% 100%);
  clip-path: circle(10% at 63% 75%);
}
  
.contactBackgroundArt div.circle3 {
  background-image: linear-gradient(#f00, #f0f);
  clip-path: circle(15% at 90% 70%);
}
  
.contactBackgroundArt div.circle4 {
  background-image: linear-gradient(#e91e63, #2196f3);
  clip-path: circle(10% at 10% 90%);
}

.form {
  box-shadow: inset rgb(255 255 255 / 20%) 0 0 0 2px, inset 0 0 250px 30px rgb(0 0 0 / 10%);;/*, #000 0 0 8px;*/
  background-color: #212f45;
  /*background-color: rgb(10 23 45 / 76%);*/
  border-radius: 6px;
  box-sizing: border-box;
  padding: 8px;
  width: 360px;
  /*backdrop-filter: blur(5px) saturate(2.5);*/
  overflow: hidden;
  position: relative;
}

.form form {
  transition: 200ms ease-in-out;
  opacity: 1;
  transform: translateX(0px);
}

.form.completed form {
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form.completed div.submittedView {
  transform: translateX(0px);
  opacity: 1;
  display: block;
}

.form > div.submittedView {
  transition: 200ms ease-in-out;
  transform: translateX(20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.form > div.submittedView > img {
  margin-bottom: 20px;
}

input, textarea {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #cacaca;
  outline: none;
  border: 0;
  width: calc(100% - 20px);
  box-shadow: inset rgb(255 255 255 / 20%) 0 0 0 1px;
  margin: 5px 10px;
  resize: vertical;
  transition: 100ms ease-in-out;
}

textarea { height: 65px; }

input:active, textarea:active {
  box-shadow: inset rgb(255 255 255 / 30%) 0 0 0 1px;
}

input:focus, textarea:focus {
  box-shadow: inset rgba(12, 255, 0, 0.6) 0 0 0 2px;
}

.horizontalGroup {
  width: 100%;
  flex-direction: row;
}

form .horizontalGroup {
  justify-content: flex-end;
}

button {
  padding: 8px 12px;
  margin: 10px;
  border-radius: 5px;
  font-size: 10pt;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: var(--transition-time);
  background-color: #2fb02f;
  transition: 100ms ease-in-out;
  text-shadow: 0 0 5px #000;
}

button:hover { background-color: #0c990c; }

button:active { background-color: #077507; }

button[disabled] {
  background-color: #676767;
  pointer-events: none;
}

form .error {
  color: #fcb3b3;
  font-size: 10pt;
  transform: translateX(5px);
  transition: 200ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

form .error.show {
  transform: translateY(0px);
  opacity: 1;
}

.submittedView > img {
  height: 94px;
  width: 94px;
}

.submittedView > .line {
  height: 5px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2.5px;
  margin: 10px 0;
}

.submittedView > .horizontalGroup {
  margin-top: 10px;
}

.submittedView > .horizontalGroup a {
  --color: gold;
  display: block;
  margin: 5px;
  background-size: contain;
  background-position: center center;
  height: 40px;
  width: 40px;
  opacity: 1;
  transition: 100ms ease-in-out;
  pointer-events: all;
  filter: drop-shadow(0 0 3px transparent);
}

.submittedView > .horizontalGroup a:hover {
  filter: drop-shadow(0 0 5px var(--color));
}