@charset "UTF-8";

body > .header {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  background-size: unset;
  background-position: -75px 80%;
  background-size: 250px;
  background-color: #0a0f16;
  background-image: linear-gradient(-90deg, #0a0f16 1%, #00000000 90%), url('/src/orgs/TankiX/MadnessUpdate.Preview.webp');;
  background-repeat: no-repeat;
  z-index: 1;
  position: fixed;
  top: 0;
  box-shadow: inset rgb(255 255 255 / 30%) 0 -3px 0;
}

main {
  padding-top: 80px !important;
  height: auto;
  background-image: none;
  justify-content: flex-start !important;
  height: auto;
  min-height: auto;
}

.feed:empty::after {
  content: "No Content";
  opacity: 0.5; 
  text-align: center;
  width: 100%;
  display: block;
}

.entry {
  border-radius: 6px;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  background-color: #212937;
  box-shadow: inset rgb(255 255 255 / 10%) 0 0 0 1px;
  transition: all 200ms;
  box-sizing: border-box;
}

.entry:hover {
  box-shadow: inset rgb(255 255 255 / 20%) 0 0 0 1px;
  background-color: #242d3c;
}

.entry .publishDate::after {
  content: "·";
  margin: 0 8px;
}

.entry > .content {
  display: flex;

}

.entry .publishDate {
  float: left;
  padding-left: 4px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  height: 40px;
}



.tags > .tag {
  font-size: 9pt;
  display: inline-block;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 6px;
  color: #fff;
  margin-right: 4px;
}

@media (max-width: 765px), (orientation: portrait) {
  .entry .dot { display: none; }

  .entry .publishDate {
    float: none;
    font-size: 0.8em;
    display: inline;
    padding-right: 2px;
  }

  .entry .publishDate::after { display: none; }
}