@charset "UTF-8";

body > .header {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  background-size: unset;
  background-position: -75px 80%;
  background-size: 250px;
  background-color: #0a0f16;
  background-image: linear-gradient(-90deg, #0a0f16 1%, #00000000 90%), url("/src/images/RTX_Halloween.webp");
  background-repeat: no-repeat;
  z-index: 1;
  position: fixed;
  top: 0;
  box-shadow: inset rgb(255 255 255 / 30%) 0 -3px 0;
}

main {
  padding-top: 80px !important;
  height: auto;
  background-image: none;
  justify-content: flex-start !important;
  height: auto;
  min-height: auto;
}

.feed:empty::after {
  content: "No Content";
  opacity: 0.5; 
  text-align: center;
  width: 100%;
  display: block;
}